body{
    margin: 0; 
    padding: 0;
    background-image: url("https://www.tokkoro.com/picsup/3029533-coffee_color_cup-of-coffee_drink_fabric_notebook_notepad_office_paper_pattern_pen_placemat_table_textile_texture_work_workplace.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     
 }
 
 .container{
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 80px;
     align-items: center;
     gap:20px;
     color: white;
    
    bor
 }
 
 .text{
     padding: 60px;
    margin : 20px;
     border: 3px groove white;
     border-radius:5px;
     
 }